<div class="footer_container">
  <footer class="footer container align-bottom">
      <p>
        Rails made with Rails
      </p>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
