
h1 {
  text-align: center;
}
.navbar {
  background: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-right {
  padding-right: 20px;
}
.navbar-nav {
  li > a {
    color: #38616C;

    &:hover {
      color: #35A7FF;
      background-color:none;
    }
  }
}
.navbar-brand {
  text-align: center;
  top: 0;
  z-index: 20;
  float: none;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;

  .title {
    font-size: 3.5rem;
    margin-top: 0.5rem;
  }
}

.navbar > .container
.navbar-brand,
.navbar >
.container-fluid .navbar-brand {
  margin-left: -100px;
}

.navbar-custom {
  background: white;
  z-index: 20;

  ul.navbar {
    z-index: 30;
  }
}

.categoryList {
  z-index: 10;
}
