h1, h2, h3, h4, h5, p {
  font-family: 'Source Sans Pro', sans-serif;
}
.title {
  color: #FF5964;
  font-family: 'Poiret One', cursive;
  font-size: 4.5em;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.userform {
  width: 50%;
}
.gravatar {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}
.profile_container {
  display: inline-block;
  margin-top: -20px;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
