<% provide(:title, "Edit Review") %>
<h1>Editing Review</h1>

<div class="container edit_details">
  <h2>Product name: <%=@product.name%></h2>
  <img src="<%=@product.image_url%>" alt="<%=@product.name%>" />
</div>

<%= render 'form', review: @review %>
